/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text-font-family), sans-serif;
  font-variation-settings: "wght" var(--main-text-font-weight);
  padding-block: 100px;
  background-image:
    repeating-linear-gradient(var(--gradient-mesh-color) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, var(--gradient-mesh-color) 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
}

.section {
  inline-size: clamp(375px, var(--inline-size),700px);
}

.header {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-block: var(--header-block-padding);
  gap: 20px;
  background-color: var(--header-background-color);
  border: 2px solid var(--section-border-color);
}

.header__title {
  font-family: var(--accent-font-family), sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.header__title span:first-of-type {
  font-size: var(--header-title-font-size);
}

.header__title span:nth-child(2) {
  font-size: var(--header-font-size);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: clamp(375px, var(--inline-size),700px);
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  border: 2px solid var(--section-border-color);
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  padding: var(--card-title-padding);
}

.card__image-wrap {
  position: relative;
  overflow: hidden;
}

.card__image-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: clamp(13px, 8.77px + 1.13vw, 25px);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow: 
    -1px 0 var(--card-label-stroke-color), 
    0 1px var(--card-label-stroke-color), 
    1px 0 var(--card-label-stroke-color), 
    0 -1px var(--card-label-stroke-color);
}

@supports ((-webkit-text-stroke: 1px var(--card-label-stroke-color)) or (text-stroke: 1px var(--card-label-stroke-color))) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--card-label-stroke-color);
    text-stroke: 1px var(--card-label-stroke-color);
    text-shadow: none;
  }
}

.card__image {
  border-block: 2px solid var(--card-image-border-color);
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 2s ease-in-out;
}

.card__image:hover {
  transform: scale(1.1);
}

.warm-filter {
  filter: saturate(250%);
}

.sepia-brightness-filter {
  filter: sepia(0.8) brightness(0.6);
}

.contrast-filter {
  filter: contrast(150%);
}

.brightness-grayscale-filter {
  filter: brightness(0.6) grayscale(0.7);
}

.brightness-filter {
  filter: brightness(1.2);
}

.grayscale-filter {
  filter: grayscale(1);
}

.brightness-low-filter {
  filter: brightness(0.6);
}

.contrast-saturate-filter {
  filter: contrast(200%) saturate(120%);
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.card__content-text {
  line-height: 21px;
  font-weight: 400;
}

.card__content-text p:first-child {
  margin-block-end: 27px;
}

.card__form {
  align-self: flex-end;
  block-size: 38px;
  margin: 25px;
  display: flex;
}

.like-icon {
  block-size: 100%;
}

.card__like-button {
  border: 2px solid var(--button-border-color);
  block-size: 100%;
  inline-size: 130px;
  padding: 12.5px 37px;
  text-align: center;
}

.button__text {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 0.9;
  font-weight: 400;
}

.footer {
  display: flex;
  place-content: center;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--button-bg-color);
  padding: 15px 20px;
  border: 2px solid var(--button-border-color);
}

@media screen and (width < 376px) {
  .save-button {
    flex-direction: column;
  }
}

#save-dialog {
  display: flex;
  position: fixed;
  inset: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  block-size: 195px;
  inline-size: clamp(341px, 336.77px + 1.13vw, 353px);
  padding: var(--close-dialog-button-padding);
  transition: opacity 0.3s ease-out;
}

#save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

#save-dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
  transition: none;
}

.save-dialog__content {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.save-dialog__content-text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  grid-column: 2;
}

.close-dialog-button {
  border: 2px solid var(--button-border-color);
  background-color: var(--button-bg-color);
  inline-size: 100%;
  block-size: 38px;
  padding: 12.5px;
  text-transform: uppercase;
}

#save-dialog[open] svg {
  grid-column: 1;
}
